/*
    Base style for overlay (modal popup and nag behavior)
*/

/*Sets the black-out styling behind the modal popup*/
.syncronex-wall-overlay {
    visibility:visible;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:2147483647;
    background-color:#313131;
    opacity:.95;
    filter:alpha(opacity=95);
    opacity:.95
}

/* provides the centering container for the actual modal */
.syncronex-wall-overlay-container {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2147483647;
}

/* Styles the actual modal */
.syncronex-wall-overlay-content {
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border: 5px solid #ddd;
    padding:10px;
    z-index: 2147483647;
}

.syncronex-warning-overlay {
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background-color: #313131;
    opacity: .95;
    filter: alpha(opacity=95);
}

.syncronex-warning-overlay-container {
    visibility: visible;
    position: absolute;
    left: 0;top: 0;width: 100%;height: 100%;
    z-index: 2147483647;
}

.sync-pm-shadow {
    box-shadow: none;
}

.syncronex-warning-overlay-content {
    background-color: #FFFFFF;
    z-index: 2147483647;
}

/* Base 'close' button for alerts*/
.sync-pm a.sync-boxClose {
    float:right;
    margin-top: 0;
    margin-right:8px;
    cursor:pointer;
    color: #fff;
    border: 2px solid #AEAEAE;
    border-radius: 30px;
    background-color: #333333;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    line-height: 0;
    padding: 11px 3px;           
}

a.sync-boxClose:before {
    content: "\00d7"; /* &times; */
}

@media screen and (min-height: 400px) {
/*    .syncronex-warning-overlay-container {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 95%;
        height: auto;
        transform: translate(-50%, -50%);
        border: 1px solid #333333;
    }*/
}
@media screen and (min-height: 640px) and (min-width: 640px) {
    .syncronex-warning-overlay {
        display: none;
    }

    .syncronex-warning-overlay-container {
        position: fixed;
        left: 5px;
        top: 50%;
        width: auto;
        height: auto;
        transform: none;
    }

    .sync-boxClose {
        margin-top: -15px;
        margin-right: -15px;
    }

    .sync-pm-shadow {
        box-shadow: 5px 5px 5px #333333;
    }
}

