/* Creates a fuzzy inset border around the div*/
.sync-pm-borderBlur {
    border-radius: 5px;
    border: 1px solid rgb(91,155,213);
    box-shadow: 0 0 5px rgb(91,155,213), inset 0 0 5px rgb(91,155,213);
}