################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.sqlite-journal
/.vs/config/applicationhost.config
